<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!--可以让部分国产浏览器默认采用高速模式渲染页面-->
    <meta name="renderer" content="webkit">
    <!--为了让 IE 浏览器运行最新的渲染模式下-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="网易云音乐，音乐，播放器，网易，下载，播放，DJ，免费，明星，精选，歌单，识别音乐，收藏，分享音乐，音乐互动，高音质，320K，音乐社交，官网，移动站，music.163.com">
    <meta name="description" content="网易云音乐是一款专注于发现与分享的音乐产品，依托专业音乐人、DJ、好友推荐及社交功能，为用户打造全新的音乐生活。">
    <script>
        // 设置视口与手机物理像素相匹配
        let scale = 1 / window.devicePixelRatio;
        let text = `<meta name="viewport" content="width=device-width, initial-scale=${scale}, maximum-scale=${scale}, minimum-scale=${scale}, user-scalable=no">`;
        document.write(text);
        // 设置字体大小
        document.documentElement.style.fontSize = window.innerWidth / 7.5 + "px";
    </script>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/swiper.css">
    <link rel="stylesheet/less" href="css/index.less">

</head>
<body>
<!--头部开始-->
<div class="header">
    <div class="header-in">
        <div class="header-left">
            <img class="header-back" src="./images/detail-x-back.png" alt="">
        </div>
        <div class="header-right">
            <img src="./images/detail-x-share.png" alt="">
            <img src="./images/detail-x-playing.png" alt="">
        </div>
        <div class="header-center">
            <span>电台</span>
        </div>
    </div>
</div>
<!--头部结束-->

<!--主要内容开始-->
<div class="main">
    <div class="main-in">
        <div class="main-top">
            <!-- topInfo模板-->
        </div>
        <div class="main-bottom">
            <div class="bottom-header">
                <p class="active"><span>详情</span></p>
                <p><span>节目</span><b></b></p>
                <i class="line"></i>
            </div>
            <div class="bottom-content">
                <!--电台详情界面开始-->
                <div class="content-default active"><!--bottomInfo模板--></div>
                <!--电台详情界面结束-->
                <!--电台节目界面开始-->
                <div class="content-list">
                    <div class="list-header">
                        <div class="header-left">
                            <p class="header-periodical"></p>
                            <p class="check-all">
                                <i></i>
                                <span>全选</span>
                            </p>
                        </div>
                        <div class="header-right">
                            <p class="header-sort">
                                <img src="images/detail-small-arrow.png" alt="">
                                <span>排序</span>
                            </p>
                            <p class="header-multiple">
                                <img src="images/detail-x-menu.png" alt="">
                                <span>多选</span>
                            </p>
                            <p class="header-ok">播放</p>
                        </div>
                    </div>
                    <ul class="list-main"><!--bottomList模板--></ul>

                </div>
                <!--电台节目界面结束-->

            </div>

        </div>
    </div>
    <div class="main-bg">
        <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fwww.busanha.net%2Fuploads%2Fallimg%2F150409%2F1-150409211A3956.jpg&refer=http%3A%2F%2Fwww.busanha.net&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1616913433&t=ce84937410b3a78a1b5c3788cb2e62f7" alt="">
        <div></div>
    </div>
</div>
<!--主要内容结束-->

<!--底部开始-->
<div class="footer"></div>
<!--底部结束-->


<!--模板开始-->
<script id="topInfo" type="text/html">
    <div class="top-info">
        <div class="info-left">
            <p><%=name%></p>
            <p><%=subCount%>订阅</p>
        </div>
        <div class="info-right">
            <p>
                <img src="images/favorite-x-star.png" alt="">
                <span>订阅</span>
            </p>
        </div>
    </div>
</script>
<script id="bottomInfo" type="text/html">
    <div class="default-top">
        <p>主播</p>
        <div>
            <div class="left">
                <div class="user-icon">
                    <img src="<%=dj.avatarUrl%>" alt="">
                    <% if(dj.userType === 2) {%>
                    <img src="images/detail-x-vrenzhen.png" alt="">
                    <% } else if (dj.userType === 4) {%>
                    <img src="images/detail-x-daren.png" alt="">
                    <% } else if (dj.userType === 201){%>
                    <img src="images/detail-x-yinyueren.png" alt="">
                    <% } %>
                </div>
                <div class="user-name">
                    <p><%=dj.nickname%></p>
                    <%if(dj.experts){%>
                    <p><%=dj.experts["1"]%></p>
                    <%}%>
                </div>
            </div>
            <div class="right">
                <p>赞赏</p>
            </div>
        </div>
    </div>
    <div class="default-middle">
        <p>电台内容介绍</p>
        <p><%=desc%></p>
    </div>
    <div class="default-bottom">
        <p>精彩评论</p>
        <%commentDatas.forEach(function(value){%>
        <div class="item">
            <p>
                <img src="<%=value.userProfile.avatarUrl%>" alt="">
                <span><%=value.userProfile.nickname%></span>
            </p>
            <p>
                <%=value.content%>
            </p>
            <p>
                ——{{value.programName}}
            </p>
        </div>
        <%})%>
    </div>
</script>
<script id="bottomList" type="text/html">
    <%for(let i=0;i< programs.length;i++){%>
        <li data-dj-message='{"id":"{{programs[i].mainTrackId}}","name":"{{programs[i].name}}","singer":"{{programs[i].nickname}}","bg":"{{programs[i].coverUrl}}"}'>
            <div class="item-left">
                <div class="item-checked">
                    <p><%=i+1%></p>
                    <i></i>
                </div>
                <div class="item-info">
                    <p><%=programs[i].name%></p>
                    <div>
                        <p><%=programs[i].createTime%></p>
                        <p><img src="images/detail-small-playing.png" alt=""><span><%=programs[i].listenerCount%></span></p>
                        <p><img src="images/detail-small-time.png" alt=""><span><%=programs[i].duration%></span></p>
                    </div>
                </div>
            </div>
            <div class="item-right">
                <img src="images/detail-small-more.png" alt="">
            </div>
        </li>

    <%}%>
</script>
<!--模板结束-->

<!--引入文件开始-->
<!--引入js-->
<script src="../js/zepto.js"></script>
<!--zepto动画模块-->
<script src="../js/fx.js"></script>
<script src="../js/fx_methods.js"></script>
<!--iscoll-->
<script src="../js/iscroll-probe.js"></script>
<script src="../js/swiper.js"></script>
<script src="../js/less.js"></script>
<script src="../js/axios.js"></script>
<script src="../js/api.js"></script>
<script src="../js/template-web.js"></script>
<script src="../js/clamp.js"></script>
<script src="../js/tools.js"></script>
<script src="js/index.js"></script>
<!--引入文件结束-->

</body>
</html>